<div class="message incoming" data-msg-id="{{ msg.id }}">
  <div class="msg-text">{{ msg.text }}</div>
  {% for att in msg.attachment_set.all %}
      {% if att.extension == "jpg" or att.extension == "png" or att.extension == "jpeg" or att.extension == "webp" %}
                  <a target="_blank" href="{{ att.file.url }}"><img src="{{ att.file.url }}" width="350" ></a>
          {% elif att.extension == "mp4" %}
          <a target="_blank" href="{{ att.file.url }}"><video width="350" controls src="{{ att.file.url }}"></video></a>
                  {% else %}
                  <div><a class="attachment" href="{{ att.file.url }}" target="_blank">{{ att.file |cut:"user-attachments/"  }}</a></div>
              {% endif %}
  {% endfor %}
<button class="copy-btn">📋</button>
</div>