{% extends 'base.html' %}
{% load static %}

{% block title %}Привет, {{ request.user }}!{% endblock %}
{% block body %}


<div class="layout">
  <!-- SIDEBAR -->
  <aside class="sidebar glass-panel">
    <a href="/" class="sidebar-header">
      <img src="/media/logo.png" class="sidebar-logo" alt="ASTRAX">
      <div class="brand">
        <div class="brand-name">ASTRAX</div>
        <div class="brand-sub">{{ request.user.username }}</div>
      </div>
    </a>
    <div class="chat-list">

            <form method="post" action="/createchat">
                <div class="chat-item ">
                    {% csrf_token %}
                <input required class="msg-input" name="title" type="text" placeholder="Название чата">
                <button type="submit" class="add-new-chat">Добавить новый чат +</button>
                </div>

            </form>
    {% for i in chats %}

      <a href="/?chat_id={{ i.id }}" class="chat-item {% if selected_chat and i.id == selected_chat.id %}active{% endif %}">
        <div class="chat-info">
          <div class="chat-name">{{i.title}}</div>
        </div>
      </a>
    {% endfor %}
    </div>
  </aside>

  <!-- CHAT AREA -->
  <main class="chat-area">
    <div class="chat-top glass-panel">

      <div class="chat-title">
        <div class="chat-title-name">{{ selected_chat.title}}</div>
      </div>
    </div>

  <div class="messages glass-panel" id="messages"
     hx-on="htmx:afterSettle:
              (function(){
                const box = document.getElementById('messages');
                if(!box) return;

                const msgs = box.querySelectorAll('.message[data-msg-id]');
                if(msgs.length){
                  const last = msgs[msgs.length - 1];
                  const hid = document.getElementById('last_id');
                  if(hid) hid.value = last.dataset.msgId;
                }

              })()
            "
  >
      {% for i in messages %}
          <div class="message incoming" data-msg-id="{{ i.id }}"><div class="msg-text">{{ i.text }}</div>
          {% for att in i.attachment_set.all %}
              {% if att.extension == "jpg" or "png" or "jpeg" %}
                  <a target="_blank" href="{{ att.file.url }}"><img src="{{ att.file.url }}" width="200" ></a>
                  {% else %}
                  <div><a class="attachment" href="{{ att.file.url }}" target="_blank">{{ att.file |cut:"user-attachments/"  }}</a></div>
              {% endif %}
          {% endfor %}
          <button class="copy-btn">📋</button>
          </div>
      {% endfor %}
    </div>

    {% if selected_chat %}

    <input type="hidden" id="last_id" name="after"
     value="{% if messages %}{{ messages.last.id }}{% else %}0{% endif %}">

  <div id="poller"
       hx-get="{% url 'poll' selected_chat.id %}"
       hx-trigger="every 3s"
       hx-target="#messages"
       hx-swap="beforeend"
       hx-include="#last_id"
       hx-sync="closest .chat-area:queue"
  >

  </div>
        
{% endif %}
  
    {% if selected_chat.id %}
    <form class="input-area glass-panel"
    method="post"
    hx-post="{% if selected_chat %}{% url "send" selected_chat.id %}{% endif %}"
    hx-target="#messages"
    hx-swap="beforeend"
    hx-on:Before-request="
    document.getElementById('poller')
  .setAttribute('hx-trigger','none');
"
    hx-on::after-request="
    this.reset();
setTimeout(() => {
  const box = document.getElementById('messages');
  const msgs = box.querySelectorAll('.message[data-msg-id]');
  if(msgs.length){
    document.getElementById('last_id').value =
      msgs[msgs.length-1].dataset.msgId;
  }
  document.getElementById('poller')
    .setAttribute('hx-trigger','every 2s');
}, 50);
"
    enctype="multipart/form-data"
    hx-sync="closest .chat-area:queue"
    >


    {% csrf_token %}

      <textarea name="text" id="text" placeholder="Enter message..." class="msg-input"></textarea>

      <button type="button" id="attach-btn" class="glass-btn attach-btn" title="Attach">
          📎
      </button>

        <input id="input-files" style="display: none" name="files" type="file" multiple>

      <button type="submit" id="send-btn" class="glass-btn send-btn" title="Send">
        <span class="icon">➤</span>
      </button>
    </form>
  {% endif %}
  </main>

</div>
{% endblock %}

{% block script %}
    <script src="{% static 'MainApp/js/send.js' %}"></script>
    <script src="{% static "MainApp/js/attach.js" %}"></script>
    <script src="{% static "MainApp/js/notif.js" %}"></script>
{% endblock %}